.link {
  transition: all ease 0.2s;
  color: var(--bgd-color);
}
.popular {
  transition: all ease 0.2s;
  color: var(--cta-color);
}
.nav,
.navContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--darkest-grey);
}
.navContainer {
  width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}
.link:hover {
  color: var(--cta-color);
}
.popular:hover {
  color: var(--bgd-color);
}
