.articleContainer {
  position: relative;
  color: var(--bgd-color);
  width: 100%;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem 0;
  padding-bottom: 6rem;
  background-color: var(--darkest-grey);
}
