.searchCart {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  background-color: var(--cta-color);
  border-radius: 0.5rem;
  color: var(--darkest-grey);
  transition: all ease 0.2s;
  border: 1px solid var(--darkest-grey);
}
.searchCart:hover {
  background-color: var(--dark-color);
}
