.searchBarContainer {
  display: flex;
  padding: 0 1rem;
  background-color: var(--light-color);
}
.searchBarBox {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0 0 1rem;
}
.searchBar {
  background-color: var(--bgd-color);
  max-width: 20rem;
  border-radius: 0.25rem;
}
.searchBtn,
.searchCart {
  cursor: pointer;
  width: 4rem;
  height: 2.5rem;
  background-color: var(--cta-color);
  border-radius: 0.5rem;
  color: var(--darkest-grey);
  transition: all ease 0.2s;
  border: 1px solid var(--darkest-grey);
}
.searchBtn:hover,
.searchCart:hover {
  background-color: var(--dark-color);
}
.searchBtn {
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid var(--dark-grey);
  background-color: var(--light-grey);
}
