.cartContainer {
  background-image: linear-gradient(
    to left,
    var(--light-color),
    var(--bgd-color)
  );
  padding: 1rem;
  width: 30rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  animation: fade 0.3s ease;
  overflow-y: auto;
  box-shadow: 5px 0 20px var(--darkest-grey);
}
.cartHeader {
  display: flex;
  justify-content: space-between;
}
.cartItems {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cartTotal {
  text-align: right;
}
.actionBtnBox {
  width: 100%;
  display: flex;
  margin: 1rem 0 3rem 0;
  justify-content: end;
}
.cartBody {
  max-width: 25rem;
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-30rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
