.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}
.headerMiddle {
    background-color: --dark-color;
    padding: 1rem;
}
.admin {
    /* Code to be removed for production */
    color: red;
}
.headerBottom {
    background-color: #34303d;
}
.headerButton {
    color: --bgd-color;
}
