.popular {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 2rem;
  margin: 1rem 0;
  background-color: var(--cta-color);
  border-radius: 0.5rem;
  color: var(--darkest-grey);
  transition: all ease 0.2s;
  border: 1px solid var(--darkest-grey);
}
.popular:hover {
  background-color: var(--dark-color);
}
